<%= stylesheet_link_tag "articles" %>
<%= header_messages %>

<div class="wrapper">
  <div class="content-heder">
    <%= header_title t(".title") %>
  </div>

  <div class="box box-max-width">
    <div class="box-header">
      <%= t(".holiday_list") %>
    </div>
    <div class="box-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th><%= t(".date") %></th>
              <th><%= t(".name") %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @holidays.each do |holiday| %>
              <tr>
                <td>
                  <%= holiday.date %>
                </td>
                <td>
                  <div class="abbreviation">
                    <%= holiday.name %>
                  </div>
                </td>
                <td class="operation-btns-td">
                  <%= link_to t(".edit"), edit_holiday_path(holiday),
                    class: "btn" %>
                  <%= link_to t(".delete"), holiday_path(holiday),
                    method: :delete,
                    class:  "btn" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="box-footer">
      <%= button_to t(".new_holiday"), new_holiday_path,
        method: :get,
        class:  "btn btn-lg pull-left" %>
      <%= button_to t(:back), "",
        class:   "btn btn-lg pull-right",
        onclick: "return top_page();" %>
    </div>
  </div>
</div>
