<%= stylesheet_link_tag "system_configs" %>
<%= header_messages :sys %>

<div class="wrapper">
  <%= header_title t(".title") %>

  <%= form_for @sys, url: {action: "update"} do |f| %>
    <div class="box-max-width">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
            <%= t(".company_name") %>
          </h3>
        </div>
        <div class="box-body">
          <div class="form-group">
            <div class="form-group-content">
              <%= f.text_field :company_name,
                placeholder: t(".company_name"),
                class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-max-width">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
            <%= t(".base_working_time") %>
          </h3>
        </div>
        <div class="box-body">
          <div class="form-group">
            <div class="form-group-content">
              <label>
                <%= t(".base_working_start_time") %>
              </label>
              <%= f.text_field :base_working_start_time,
                class: "timepicker form-control" %>
            </div>
            <div class="form-group-content">
              <label>
                <%= t(".base_working_end_time") %>
              </label>
              <%= f.text_field :base_working_end_time,
                class: "timepicker form-control" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-max-width">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
            <%= t(".rest_time") %>
          </h3>
        </div>
        <div class="box-body">
          <div class="form-group">
            <div class="form-group-content">
              <label>
                <%= t(".rest_start_time") %>
              </label>
              <%= f.text_field :rest_start_time,
                class: "timepicker form-control" %>
            </div>
            <div class="form-group-content">
              <label>
                <%= t(".rest_end_time") %>
              </label>
              <%= f.text_field :rest_end_time,
                class: "timepicker form-control" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-max-width">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
            <%= t(".base_overtime_rest_time") %>
          </h3>
          <span class="pull-right">
            <ul class="enable-list">
              <li>
                <label class="<%= @sys.enable_base_overtime_rest_time ? "selected" : "" %>">
                  <%= f.radio_button :enable_base_overtime_rest_time, true %>
                  ON
                </label>
              </li>
              <li>
                <label class="<%= @sys.enable_base_overtime_rest_time ? "" : "selected" %>">
                  <%= f.radio_button :enable_base_overtime_rest_time, false %>
                  OFF
                </label>
              </li>
            </ul>
          </span>
        </div>
        <div class="box-body">
          <div class="form-group">
            <div class="form-group-content">
              <label>
                <%= t(".base_overtime_rest_start_time") %>
              </label>
                <%= f.text_field :base_overtime_rest_start_time,
                  class:    "timepicker form-control",
                  disabled: !@sys.enable_base_overtime_rest_time %>
            </div>
            <div class="form-group-content">
              <label>
                <%= t(".base_overtime_rest_end_time") %>
              </label>
              <%= f.text_field :base_overtime_rest_end_time,
                class: "timepicker form-control",
                disabled: !@sys.enable_base_overtime_rest_time %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-max-width">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
            <%= t(".late_night_time") %>
          </h3>
        </div>
        <div class="box-body">
          <div class="form-group">
            <div class="form-group-content">
              <%= f.text_field :late_night_time,
                class: "timepicker form-control" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-max-width">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
            <%= t(".time_off_hours_prospect") %>
          </h3>
        </div>
        <div class="box-body">
          <div class="form-group">
            <div class="form-group-content">
              <%= f.number_field :time_off_hours_prospect,
                step:  0.5,
                class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= f.submit t(".save"), class: "btn" %>
    <%= button_to t(:back), "",
      class:   "btn pull-right",
      onclick: "return top_page();" %>
  <% end %>
</div>
