<%= stylesheet_link_tag "system_configs" %>
<%= header_messages :sys %>
<%= header_title t(".title") %>

<div class="form-system-config">
  <%= form_for @sys, url: {action: "update"} do |f| %>
    <div>
      <div>
        <label><%= t(".company_name") %></label>
      </div>
      <div>
        <%= f.text_field :company_name %>
      </div>
    </div>
    <div>
      <div>
        <label><%= t(".base_working_start_time") %></label>
      </div>
      <div>
        <%= f.time_field :base_working_start_time_duration,
          class: "base-working-start-time",
          step:  30.minute %>
      </div>
    </div>
    <div>
      <div>
        <label><%= t(".base_working_end_time") %></label>
      </div>
      <div>
        <%= f.time_field :base_working_end_time_duration,
          class: "base-working-end-time",
          step:  30.minute %>
      </div>
    </div>
    <div>
      <div>
        <label><%= t(".rest_start_time") %></label>
      </div>
      <div>
        <%= f.time_field :rest_start_time_duration,
          class: "rest-start-time",
          step:  30.minute %>
      </div>
    </div>
    <div>
      <div>
        <label><%= t(".rest_end_time") %></label>
      </div>
      <div>
        <%= f.time_field :rest_end_time_duration,
          class: "rest-end-time",
          step:  30.minute %>
      </div>
    </div>
    <div>
      <div>
        <label><%= t(".base_overtime_rest_start_time") %></label>
      </div>
      <div>
        <%= f.time_field :base_overtime_rest_start_time_duration,
          class: "base-overtime-rest-start-time",
          step:  30.minute %>
      </div>
    </div>
    <div>
      <div>
        <label><%= t(".base_overtime_rest_end_time") %></label>
      </div>
      <div>
        <%= f.time_field :base_overtime_rest_end_time_duration,
          class: "base-overtime-rest-end-time",
          step:  30.minute %>
      </div>
    </div>
    <div>
      <div>
        <label><%= t(".late_night_time") %></label>
      </div>
      <div>
        <%= f.time_field :late_night_time_duration,
          class: "late-night-time",
          step:  30.minute %>
      </div>
    </div>
    <div>
      <div>
        <label><%= t(".time_off_hours_prospect") %></label>
      </div>
      <div>
        <%= f.number_field :time_off_hours_prospect,
          class: "time-off-hours-prospect",
          step:  0.5 %>
      </div>
    </div>
    <div>
      <div>
        <%= f.submit t(".save"), class: "save-btn" %>
      </div>
      <div>
        <%= button_to t(:back), "",
          class:   "back-btn",
          onclick: "return top_page();" %>
      </div>
    </div>
  <% end %>
</div>
