<%= stylesheet_link_tag    "articles" %>
<%= javascript_include_tag "articles" %>
<%= header_messages :article %>
<%= header_title t(".title") %>

<div class="form-new-article">
  <%= form_for @article, url: {action: "update"} do |f| %>
    <%= render partial: "form", locals: {f: f} %>
    <div>
      <div>
        <%= f.submit t(".save_article"),
          class:  "save-article-btn" %>
      </div>
      <div>
        <%= button_to t(:back), "",
          class:   "back-btn",
          onclick: "return article_show_page(#{@article.id});" %>
      </div>
    </div>
  <% end %>
</div>
