<%= stylesheet_link_tag    "articles" %>
<%= javascript_include_tag "articles" %>
<%= header_title t(".title") %>

<div class="form-new-article">
  <div>
    <label>タイトル</label>
  </div>
  <div>
    <label><%= @article.title %></label>
  </div>
  <div>
    <label>本文</label>
  </div>
  <div>
    <label><%= @article.body %></label>
  </div>
  <div>
    <div>
      <%= button_to t(".edit_article"), edit_article_path(@article.id),
        method: :get,
        class:  "edit-article-btn" %>
    </div>
    <div>
      <%= button_to t(:back), "",
        class:   "back-btn",
        onclick: "return article_page();" %>
    </div>
  </div>
</div>
