<div class="wrapper">
  <%= render "layouts/main_header" %>
  <%= render "layouts/main_sidebar" %>

  <div class="content-wrapper">
    <section class="content-header">
      <h1><%= t(".title") %></h1>
    </section>

    <section class="content">
      <%= render "shares/flash_messages" %>

      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"><%= t(".list") %></h3>
              <div class="box-tools pull-right">
                <%= link_to change_orders_reasons_path, class: "btn btn-info btn-sm" do %>
                  <span class="glyphicon glyphicon-sort"></span>
                <% end %>
              </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <table id="reason_table" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>
                          <%= Reason.human_attribute_name(:display_order) %>
                        </th>
                        <th>
                          <%= Reason.human_attribute_name(:content) %>
                        </th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @reasons.each do |reason| %>
                        <tr>
                          <td>
                            <%= reason.display_order %>
                          </td>
                          <td>
                            <%= reason.content %>
                          <td>
                            <%= link_to t(".edit_reason"), edit_reason_path(reason),
                              class: "btn btn-success" %>
                          </td>
                          <td>
                            <%= link_to t(".delete"), reason_path(reason),
                              method: :delete,
                              class:   "btn btn-danger" %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%== datatable_script("reason_table",
                                        0,
                                        { column_defs: [-1, -2] }) %>
                </div>
              </div>            </div>
            <div class="box-footer">
              <%= link_to t(".new_reason"), new_reasons_path,
                method: :get,
                class:  "btn btn-primary btn-lg" %>
              <%= link_to t(".back"), top_index_path,
                method: :get,
                class:  "btn btn-primary btn-lg pull-right" %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <%= render "layouts/main_footer" %>
</div>
