<div class="login-box">
  <div class="login-logo">
    <h1><%= t(".login_logo") %></h1>
  </div>
  <%= render "shares/flash_messages" %>
  <div class="login-box-body">
    <%= form_for @user, url: { action: :new } do |f| %>
      <div class="form-group has-feedback">
        <%= f.text_field :number,
          class:       "form-control",
          autofocus:   true,
          placeholder: @user.class.human_attribute_name(:number) %>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password,
          class: "form-control",
          placeholder: @user.class.human_attribute_name(:password) %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= f.submit t(".login"), class: "btn btn-primary btn-block btn-flat" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
