<!DOCTYPE html>
<html>
  <head>
    <title><%= t("title") %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="main-content">
      <div class="side-menu <%= session[:hidden_sidebar] ? 'disable' : 'active' %>">
        <div class="side-content">
          <%= render partial: "layouts/side_menu" %>
        </div>
      </div>
      <div class="header-menu">
        <div class="header-content <%= session[:hidden_sidebar] ? 'disable' : 'active' %>">
          <%= render partial: "layouts/header_menu" %>
        </div>
      </div>
      <div class="content <%= session[:hidden_sidebar] ? 'disable' : 'active' %>">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
