<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body class="skin-blue <%= session[:sidebar_state] %> <%= login_action? ? 'login-page' : 'sidebar-mini' %>">
    <%= yield %>
  </body>
</html>
